---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import About from '../components/About.astro';
import Proyects from '../components/Proyects.astro';
import Form from '../components/Form.astro';
---

<Layout title="Welcome portfolio">
  <main
    class="flex flex-col justify-center items-center text-zinc-900 font-text text-base"
  >
    <Landing />

    <About />
    <Proyects />
    <Form />
  </main>
</Layout>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --blues: 9 186 213;
      --lime-green: 37 237 145;
      --mindaro: 224 248 138;
      --teal: 0 128 128;
    }
  }

  @font-face {
    font-family: 'CascadiaCode';
    src: url('/fonts/CascadiaCode.woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'yipes';
    src: url('/fonts/yipes.woff');
    font-display: swap;
  }
</style>
