---
import Layout from '../layouts/Layout.astro';
import Landing from '../layouts/Landing.astro';
import About from '../layouts/About.astro';
import Proyects from '../layouts/Proyects.astro';
import Form from '../layouts/Form.astro';
import TextAnimation from '../layouts/TextAnimation.astro';
---

<Layout title="Welcome portfolio">
  <main
    class="flex flex-col justify-center items-center text-zinc-900 font-text text-base mesh-gradient-full"
  >
    <Landing />
    <TextAnimation />
    <About />
    <Proyects />
    <Form />
  </main>
</Layout>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --blues: 67 118 236; /**#4376EC */
      --lime-green: 25 165 152; /**#19A598 */
      --mindaro: 255 243 217; /** #FFF3D9 */
      --teal: 0 128 128;
      --nara: 254 231 255; /** #FEE7E1 */
      --astronaut: 38 48 103; /** #263167 */
    }
  }

  @font-face {
    font-family: 'yipes';
    src: url('/fonts/yipes.woff');
    font-display: swap;
  }
</style>
