---
import Layout from '../layouts/Layout.astro';
import Landing from '../layouts/Landing.astro';
import About from '../layouts/About.astro';
import Proyects from '../layouts/Proyects.astro';
import Form from '../layouts/Form.astro';
import TextAnimation from '../layouts/TextAnimation.astro';
---

<Layout title="portafolio Gloria">
  <main
    class="flex flex-col justify-center items-center text-zinc-900 font-text text-base sm:mesh-gradient-full mesh-gradient-mobile overflow-hidden"
  >
    <Landing />
    <TextAnimation />
    <About />
    <Proyects />
    <Form />
  </main>
</Layout>
