<section>
  <h3>Sobre mí</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quos, enim
    atque soluta accusamus repudiandae fuga iure nisi velit autem culpa cum ab
    sit itaque recusandae ducimus delectus laborum qui?
  </p>
</section>
