---
---

<div class="bg-white relative overflow-hidden w-fit rounded-xl px-1">
  <slot />
  <div
    class={`mix-blend-lighten bg-fixed absolute left-0 top-0 w-full h-full bg-radial-gradient`}
  >
  </div>
</div>
