---
export interface Props {
  text: string;
  path: string;
  alt: string;
}
const { text, path, alt } = Astro.props;
---

<li
  class={`relative bg-lime/30 overflow-hidden flex items-center justify-center sm:rounded-md sm:h-24 sm:p-0 h-auto border border-lime/5 w-auto rounded-full p-1`}
>
  <span
    class="sm:absolute sm:break-all left-2 top-2 font-sans sm:text-xl text-base"
  >
    {text}</span
  >
  <div
    class="sm:absolute sm:h-10 sm:w-10 rounded-full sm:bg-mindaro p-1 flex items-center justify-center bottom-2 right-2 select-none"
  >
    <img src={path} alt={alt} class="h-6" />
  </div>
</li>
