---
import Menu from './Menu.astro';

const fontSize = 'text-5xl sm:text-7xl';
---

<section
  class="flex justify-center items-center w-full overflow-hidden md:w-11/12 h-screen flex-col md:flex-row"
>
  <Menu />

  <article
    class="h-4/5 mesh-gradient md:border md:border-zinc-900 md:p-4 rounded-md w-full flex flex-col justify-center items-center max-sm:h-full"
  >
    <div
      class="w-11/12 max-w-lg relative before:h-96 before:w-96 before:rounded-full before:rotate-12 before:absolute before:-bottom-10 before:-left-4 before:mesh-gradient before:mix-blend-lighten before:sm:flex before:hidden flex flex-col justify-center items-center"
    >
      <article class="flex flex-col justify-center items-center h-full">
        <span class={`font-title ${fontSize} select-none w-full text-zinc-800`}>
          Gloria Alicia</span
        >

        <div>
          <h2 class="font-text text-xl mb-2">Frontend Developer</h2>
          <p class="text-zinc-700 sm:absolute font-text text-base">
            Adoro ser perfeccionista, enfocandome en el diseño intuitivo y
            performance eficaz para el usuario.
          </p>
        </div>
      </article>
    </div>

    <div
      class="absolute bottom-7 bg-white flex justify-between rounded-full p-1 items-center border border-zinc-800 overflow-hidden font-text"
    >
      <h2 class="text-xl mx-2">Descargar CV</h2>
      <a href="#" class="p-2 bg-mindaro rounded-full">
        <img src="assets/world.svg" alt="cursor abstract shape" width="70" />
      </a>
    </div>
  </article>
</section>
