---
const fontSize = 'text-4xl';
const signal = 'whitespace-nowrap bg-white absolute text-sm px-1';
---

<section class="w-11/12 max-w-lg relative">
  <code class="flex flex-col justify-center items-center">
    <span class={`font-title ${fontSize} select-none flex flex-start w-full`}>
      (Gloria)=&#62;&#123;</span
    >

    <div class="text-base font-text ml-3">
      <p><span class="text-pink-100 font-medium">return</span> `</p>
      <p class="text-xl mb-2">Frontend Developer</p>
      <p class="text-zinc-700">
        Adoro ser perfeccionista, enfocandome en el diseño intuitivo y
        performance eficaz para el usuario.`
      </p>
    </div>

    <span class="font-title text-3xl flex flex-end w-full select-none">
      &#125;</span
    >
  </code>
</section>

<div
  class="absolute bottom-7 bg-white flex justify-between rounded-full p-1 items-center border border-zinc-800 overflow-hidden"
>
  <h2 class="font-title text-xl mr-2">&#60;/Proyectos&#62;</h2>
  <a href="#" class="p-2 bg-lime rounded-full">
    Ver todos
    <img
      src="assets/world.svg"
      alt="cursor abstract shape"
      width="100"
      class="absolute left-20 rotate-6 z-10"
    />
  </a>
</div>
<!-- &#60;/Proyectos&#62; -->
