---
export interface Props {
  link: string;
  text: string;
  styles?: string;
}
const { link, text, styles } = Astro.props;
---

<li
  class={`overflow-hidden flex flex-col items-center justify-center font-text px-1 text-xl rounded-full ${styles}`}
>
  <a
    href={link}
    class="hover:mesh-gradient bg-[length:0%_5px] bg-no-repeat bg-left-bottom hover:bg-[length:100%_5px] transition-all duration-500"
    target="_blank"
  >
    <span> {text}</span>
  </a>
</li>
