<section class="md:w-11/12 w-full px-4 text-astronaut">
  <h2 class="font-title text-3xl sm:text-6xl select-none">Proyectos</h2>
  <div>
    <h3>Frameworks y librerias utilizadas</h3>
    <ul>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
    </ul>
  </div>

  <div>
    <article>proyecto 1</article>
    <article>Proyecto 2</article>
  </div>
</section>
