---
import Icon from '../components/Icon.astro';
import Link from '../components/Link.astro';
import SectionComponent from '../components/SectionComponent.astro';
import Tag from '../components/Tag.astro';

const listItem = 'rounded-full px-2 py-1 bg-blues/30';
const containerFlex = 'flex items-center gap-3';
---

<SectionComponent>
  <div class="lg:flex-row flex flex-col justify-around sm:m-0 my-14 relative">
    <div class="lg:w-2/4" id="About">
      <h2 class="font-title text-4xl sm:text-6xl select-none mb-2">Sobre mí</h2>
      <p>
        Frontend Developer y entusiasta del diseño enfocandome en el diseño
        intuitivo y performance eficaz para el usuario. Soy además una egresada
        de ONE (Oracle Next Education), actualmente aprendiendo cada día más y
        en búsqueda de formar parte de un equipo para colaborar y apoyar
        constantemente en la realización de proyectos que ayuden a otros a
        crecer.
      </p>

      <article
        class="md:mb-5 sm:flex-row sm:justify-around sm:h-16 justify-start flex bg-lime/[.1] text-lime h-auto rounded-md p-1 items-center overflow-hidden relative flex-col sm:bg-ONE sm:bg-no-repeat bg-left-top bg-opacity-90 bg-contain mb-1 mt-3"
      >
        <div
          class={`${containerFlex} sm:w-2/4 sm:justify-end w-full justify-center`}
        >
          <p class="text-xl font-bold">Certificados ONE</p>
          <img
            src="assets/arrow.svg"
            alt="link arrow"
            width="32"
            class="w-8 max-md:ml-2 fill-mindaro"
          />
        </div>
        <div
          class={`${containerFlex} sm:w-2/4 w-full sm:mr-14 m-0 justify-center`}
        >
          <Link
            link="https://app.aluracursos.com/degree/certificate/6a12717d-e5c1-42d0-9c95-895d9cc17c06"
            text="Frontend"
            styles=" italic"
          />

          <Link
            link="https://app.aluracursos.com/program/certificate/91dc0b44-7d9d-405b-bc25-beb1485fdbd2"
            text="Programa"
            styles="italic"
          />
        </div>
      </article>

      <h3 class="text-xl mb-2 mt-3">Habilidades blandas</h3>

      <ul class="flex flex-wrap gap-1">
        <li>
          <Tag text="Creatividad" />
        </li>
        <li>
          <Tag text="Comunicación" />
        </li>
        <li>
          <Tag text="Resilencia" />
        </li>
      </ul>
    </div>

    <div class="lg:w-1/3 w-full mt-3">
      <h3 class="font-text text-xl mb-2">Aprendiendo...</h3>
      <ul class="grid grid-cols-auto gap-1.5">
        <Icon text="NextJS" path="icons/nextjs.svg" alt="next framework icon logo" />
        <Icon
          text="TS"
          path="icons/typescript.svg"
          alt="typescript icon logo"
        />
      </ul>
    </div>
  </div>
</SectionComponent>
