---
import Field from '../components/Field.astro';
import SectionComponent from '../components/SectionComponent.astro';
---

<SectionComponent>
  <h2 class="font-title text-3xl sm:text-6xl select-none">Contáctame</h2>
  <Field id={'name'} text="Nombre" />
  <Field id={'email'} text="Correo" />
  <Field id={'messenge'} text="Mensaje" />
</SectionComponent>
