---
import Menu from '../components/Menu.astro';

const fontSize = 'sm:text-7xl text-5xl';
---

<section
  class="flex justify-center items-center w-full overflow-hidden md:w-11/12 h-screen flex-col md:flex-row text-astronaut"
>
  <article
    class="h-4/5 mesh-gradient md:border md:border-astronaut md:p-4 rounded-md w-full flex flex-col justify-center items-center max-sm:h-full"
  >
    <div
      class="w-11/12 max-w-lg relative before:h-96 before:w-96 before:rounded-full before:rotate-12 before:absolute before:left-60 before:mesh-gradient before:mix-blend-lighten before:sm:flex before:hidden flex flex-col justify-center items-center"
    >
      <article class="flex flex-col justify-center items-center h-full">
        <span class={`font-title ${fontSize} select-none w-full mb-2`}>
          Gloria Alicia</span
        >

        <div>
          <h2 class="font-text text-xl mb-2">Frontend Developer</h2>
          <p class="text-astronaut/[.9] md:absolute font-text text-base">
            Adoro ser perfeccionista, enfocandome en el diseño intuitivo y
            performance eficaz para el usuario.
          </p>
        </div>

        <div
          class="md:absolute md:-bottom-56 mt-2 md:self-center self-start flex justify-between rounded-full p-1 items-center border border-astronaut overflow-hidden font-text bg-mindaro"
        >
          <h2 class="md:text-xl text-lg mx-2">Descargar CV</h2>
          <a href="#" class="p-2 rounded-full bg-lime/[.3]">
            <img
              src="assets/world.svg"
              alt="cursor abstract shape"
              width="55"
            />
          </a>
        </div>
      </article>
    </div>
  </article>

  <Menu />
</section>
