---
import Menu from '../components/Menu.astro';

const fontSize = 'sm:text-7xl text-5xl';
---

<section
  class="flex items-center w-full md:w-11/12 h-screen flex-col text-astronaut"
>
  <Menu />
  <article class="flex w-full gap-3 h-4/5">
    <article
      class="h-full md:border-4 md:border-white/[.5] md:p-4 md:rounded-md w-full flex justify-center items-center max-sm:h-full sm:flex-row flex-col"
    >
      <div
        class="w-11/12 max-w-lg relative flex flex-col justify-center items-center"
      >
        <article class="flex flex-col justify-center items-center h-full">
          <span
            class={`font-title ${fontSize} bg-clip-text text-transparent text-gradient w-full mb-2`}
          >
            Gloria Alicia</span
          >

          <div>
            <h2 class="font-text text-xl mb-2">Frontend Developer</h2>
            <p class="text-astronaut/[.9] font-text text-base">
              Adoro ser perfeccionista, enfocandome en el diseño intuitivo y
              performance eficaz para el usuario.
            </p>
          </div>

          <div
            class="mt-5 self-start flex justify-between rounded-full p-1 items-center border-4 border-white/40 overflow-hidden font-text w-fit"
          >
            <h2 class="md:text-xl text-lg mx-2">Descargar CV</h2>
            <a href="#" class="p-2 rounded-full bg-lime/[.3]">
              <img
                src="assets/world.svg"
                alt="world metamodernism shape"
                width="55"
              />
            </a>
          </div>
        </article>
      </div>

      <div class="lg:block hidden">
        <img
          src="img/laptop-prism.png"
          alt="laptop code shape 3d render "
          class="rounded-md w-full h-auto"
        />
      </div>
    </article>
  </article>
</section>
